# SPDX-License-Identifier: GPL-2.0

Source: sparsecat
Section: utils
Priority: optional
Maintainer: Isaac True <isaac@is.having.coffee>
Build-Depends:
 debhelper-compat (= 13),
 android-libsparse-dev,
 meson,
 ninja-build,
 pandoc,
Standards-Version: 4.6.1.0
Rules-Requires-Root: no
Homepage: https://github.com/IsaacJT/sparsecat
Vcs-Browser: https://github.com/IsaacJT/sparsecat
Vcs-Git: https://github.com/IsaacJT/sparsecat.git -b main

Package: sparsecat
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Tool for extracting the data from an Android sparse image
 Sparsecat can be used to pipe the data extracted from an Android sparse image
 to stdout.
